@import "tailwindcss";

@theme {
  --color-main-color: #9f9f9f;
  --color-heading-color: #fff;
  --color-primary-color: #703822;
  --color-lighter-color: #ccc;
  --color-subtitle-color: #ccc;
  --color-black-color: #000;
  --color-border-color: rgba(119, 119, 125, 0.2);
  --color-button-border: rgba(119, 119, 125, 0.2);
  --color-body-background: #000;
  --color-image-background: #dea967;
  --color-light-green: #00ff00;
  --color-card-background: #121214;
  --color-grey-bg: #e6eaee;
  --font-poppins: "Poppins", sans-serif;
  --font-noto: "Noto Sans", serif;
  --font-arsenal: "Arsenal SC", sans-serif;
}

body {
  font-family: var(--font-noto);
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-main-color);
  background-color: var(--color-body-background);
  scroll-behavior: smooth;
}
.servmark {
  font-family: var(--font-arsenal);
}
.jay-webs {
  font-family: var(--font-noto);
}
.logo {
  font-family: var(--font-poppins);
}
a.active {
  color: var(--color-body-background);
  background-color: white;
  padding: 10px;
  border-radius: 15px;
}
.no-scrollbar {
  -ms-overflow-style: none; /* Hides scrollbar in IE/Edge */
  scrollbar-width: none; /* Hides scrollbar in Firefox */
}
